<IfModule mod_rewrite.c>
    RewriteEngine on

    ErrorDocument 404 /index.php
    
	RewriteCond %{REQUEST_URI} !/Apps
    RewriteRule !(\.(ico))$ index.php [NC,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
<IfModule mod_speling.c>
    CheckSpelling on
    CheckCaseOnly on
</IfModule>
